.font-msg {
  font-family: 'Hanalei Fill', cursive;
  border: 100px;
}

.skillHover:hover{
  background-color: #ebebeb !important;
  border-left: 10px solid midnightblue !important;
  border-radius: 0% !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.textSkill{
  color: rgb(124, 124, 124);
  font-size: 1rem;
}

.contact{
  margin: auto !important;
  background-color: #ebebeb !important;
  background:'#f1f1f1' !important;
  border-radius:'10px'  !important;
}